{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body {
       font-family: "Comic Sans MS", cursive, sans-serif;
       font-size:100%;
       width:80%;
       margin:auto;
       background-color: #ebebe0;
  }
  img{
      margin: 0px 0px 0px 50px;
      padding: 10px;
  }


</style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/dashboard.js' %}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="{% static 'css/header.css' %}" />


</head>
<body>
{% csrf_token %}
<h1>Triumph Code</h1>

<div class="navbar">
  <a class="active" href="http://localhost:8000/dashboard/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Solve Questions 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="http://localhost:8000/dashboard/problems/?level=easy" id="easyproblems">Easy</a>
      <a href="http://localhost:8000/dashboard/problems/?level=medium" id="mediumproblems">Medium</a>
      <a href="http://localhost:8000/dashboard/problems/?level=advanced" id="advancedproblems">Advanced</a>
      
    </div>
  </div> 

  <a href="http://localhost:8000/dashboard/Tutorials/">Tutorials</a>
  <a href="http://localhost:8000/dashboard/Contest/">Contest</a>
  <a href="http://localhost:8000/dashboard/CompileAndRun/">Compile & Run</a>
 <!-- <a href="http://localhost:8000/dashboard/About">About</a>-->
  <a href="http://localhost:8000/dashboard/profile">Profile</a>
  <a href="http://localhost:8000/dashboard/status">Status</a>
  <!--<div class="dropdown">-->
    <!--<button class="dropbtn">Profile -->
      <!--<i class="fa fa-caret-down"></i>-->
    <!--</button>-->
    <!--<div class="dropdown-content">-->
      <!--<a href="#">View Profile</a>-->
      <!--<a href="#">View Solved Questions</a>-->
      <!--<a href="logout">Logout</a>-->
    <!--</div>-->
   <a href="logout">Logout</a>
  </div> 
</div>

<img src="{% static 'images/banner2.jpg' %}">

</body>
</html>
