{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Bit Manupulation</title>
</head>
<body>
	    <link href="{% static 'tutorial/CSS.css' %}" rel="stylesheet" type="text/css">
	<div class="center"><h1>Bit Manipulation </h1></div>
	<div class="boxing">
		<h2>Introduction</h2>
	<p>
		Working on bytes, or data types comprising of bytes like ints, floats, doubles or even data structures which stores large amount of bytes is normal for a programmer. There are different bitwise operations used in the bit manipulation. These bit operations operate on the individual bits of the bit patterns.
	</p>
	<h3>
		Practice Tutorials 
	</h3>
	<p>
		<ul>
			<li>
				<div class="bord"><a href="Basics"><b>Basics of Bit Manipulation</b></a></div>
			</li><br>
			<li>
				<div class="bord"><a href="DPANDBP"><b>Dynamic Programming and Bit Masking</b></a></div>
			</li>
		</ul>


	</p>

</body>
</html>