{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Data Structures</title>
</head>
<body>
    <link href="{% static 'tutorial/CSS.css' %}" rel="stylesheet" type="text/css">
	<div class="center"><h1>Data Structures  </h1></div>
    <p>
        <ul>
            <li>
                <div class="bord"><a href="Arrays"><b>Arrays</b></a></div>
            </li><br>
            
                <li>
                    <div class="bord">
                    <a href="linklist"><b>Linklist</b></a>
                </div></li><br>
        <li><div class="bord"><a href="Stacks"><b>Stacks</b></a></li><br>
            <li><div class="bord"><a href="queues"><b>Queues</b></div></a></li>
        
        </ul>
    </p>

</body>
</html>