{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Dynamic Programming</title>
</head>
<body>
         <link href="{% static 'tutorial/CSS.css' %}" rel="stylesheet" type="text/css">
	<div class="center"><h1>Dynamic Programming : </h1></div>
     <div class="boxing">
     <h2>Introduction</h2><br>
     <p>Dynamic programming is basically, recursion plus using common sense. What it means is that recursion allows you to express the value of a function in terms of other values of that function.</p><p> Where the common sense tells you that if you implement your function in a way that the recursive calls are done in advance, and stored for easy access, it will make your program faster</p>
     <ul>
     	<li>
     		<a href="Introdynamicprogramming"><b>Introduction to Dynamic Programming </b></a>
     	</li><br>

     	<li>
     		<a href="Dimensional"><b>Dimensional</b></a>
     	</li>

     </ul>
</body>
</html>