{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Tutorials</title>
</head>
<body> 
	    <link href="{% static 'tutorial/CSS.css' %}" rel="stylesheet" type="text/css">
	<div class="center"><h1>Graphs </h1></div>
	<div class="boxing"><span style="text-decoration: underline; color: black;"><h1>Types</h1></span>
	<ol>
		<br><div class="bord"><br><li><a href="GraphRepresentation"><b><font size="4">Graph Representation</font></a></li><br></div></b>
		<div class="bord"><br><li><a href="BFS"><font size="4"><b>Breadth First Search  </font></a></li><br></div></b>
		<div class="bord"><br><li><a href="DFS"><font size="4"><b> Depth First Search</font></a></li><br></div></b>
		<div class="bord"><br><li><a href="MinimumSpanningTree"><b><font size="4">Minimum Spanning Tree</a></font></li><br></div></b>
			
	</ol></div>


</body>
</html>