{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Insertion Sort</title>
</head>
<body>
         <link href="{% static 'tutorial/CSS.css' %}" rel="stylesheet" type="text/css">
     <div class="center"><h1>Insertion Sort</h1></div>
     <div class="boxing">
        <h2>Introduction</h2>
     <p>Insertion sort is based on the idea that one element from the input elements is consumed in each iteration to find its correct position i.e, the position to which it belongs in a sorted array.

     <br>It iterates the input elements by growing the sorted array at each iteration. It compares the current element with the largest value in the sorted array. If the current element is greater, then it leaves the element in its place and moves on to the next element else it finds its correct position in the sorted array and moves it to that position.<br> This is done by shifting all the elements, which are larger than the current element, in the sorted array to one position ahead</p>
     <h2>Let’s take a look at the implementation :</h2>
     <br>
    <div class="boxed"> <p><img alt="enter image description here" src="http://images.slideplayer.com/25/7688053/slides/slide_6.jpg" /></p></div>
     <br>
    <div class="boxed">  <br><p><img alt="enter image description here" src="https://he-s3.s3.amazonaws.com/media/uploads/46bfac9.png" /></p></div>

 </div>
</body>
</html>