{% load staticfiles %}
<!doctype html>
      
    <html>
          <head>
                <title>Selection Sort</title>
          </head>   
          
          <body>
                <link href="{% static 'tutorial/CSS.css' %}" rel="stylesheet" type="text/css">
             <div class="center"><h1>Selection Sort</h1></div>

             <div class="boxing">
              <h2>Introduction</h2>
              <p> The Selection sort algorithm is based on the idea of finding the minimum or maximum element in an unsorted array and then putting it in its correct position in a sorted array.<br>

             Assume that the array A=[7,5,4,2]  needs to be sorted in ascending order.

             <br>The minimum element in the array i.e. 2 is searched for and then swapped with the element that is currently located at the first position, i.e. 7. Now the minimum element in the remaining unsorted array is searched for and put in the second position, and so on.</p>

             <h3>Let’s take a look at the implementation.</h3><br> 

           <div class="boxed"><font size="4"><pre><code> void selection_sort (int A[ ], int n)
            {
        // temporary variable to store the position of minimum element

        int minimum;        
        // reduces the effective size of the array by one in  each iteration.

        for(int i = 0; i &lt; n-1 ; i++) 
         {

           // assuming the first element to be the minimum of the unsorted array .
             minimum = i ;

          // gives the effective size of the unsorted  array .

            for(int j = i+1; j &lt; n ; j++ ) 
            {
                if(A[ j ] &lt; A[ minimum ]) 
                 {                //finds the minimum element
                minimum = j ;
                }
             }
          // putting minimum element on its proper position.
          swap ( A[ minimum ], A[ i ]) ; 
        }
   }
</code></pre></font></div>
             <p><img alt="enter image description here" src="https://he-s3.s3.amazonaws.com/media/uploads/2888f5b.png" /> </p></div>
          </body>   
    </html>      