{% load staticfiles %}
<!doctype html>

    <html>

      <head>
        <title>Sorting</title>
      </head>

      <body>
        <div class="center"><h1>SORTING</h1></div>
         <link href="{% static 'tutorial/CSS.css' %}" rel="stylesheet" type="text/css"/><br>
          <div class="boxing">
            <h2>Introduction</h2>
           <pre><font size="5">  Sorting is a process of arranging items in ascending or descending order.This process can be implemented<br>  via many different algorithms.Sorting Algorithms are concepts that every competitive programmer must know.<br>  Sorting algorithms can be used for collections of numbers, strings, characters, or a structure of any of <br>  these types.
          </font></pre>
           <h2>You will about following sorting algorithms : </h2>
            <br><ol>
              <pre>
              <div class="bord">
                <li><b><a href="bubblesort"><font size="6">Bubble sort   </a></font></li></b>
              </div>
              <div class="bord">
                <li><b><a href="selectionsort"><font size="6">Selection Sort</a></b></li></font>
              </div>
              <div class="bord">
                <li><b><a href="insertionsort"><font size="6">Insertion Sort</a></b></li></font>
              </div>
              <div class="bord">
                <li><b><a href="mergesort"><font size="6">Merge Sort    </a></b></li></font>
              </div>
              <div class="bord">
                <li><b><a href="quicksort"><font size="6">Quick Sort    </a></b></li></font>
              </div>
              <div class="bord">
                <li><b><a href="heapsort"><font size="6">Heap Sort     </a></b></li></font>
               </div>
            </ol></pre>
          </nav>
          </div>
        </div>
      </body>
     
    </html> 