{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Stacks & Queues</title>
</head>
<body>
	    <link href="{% static 'tutorial/CSS.css' %}" rel="stylesheet" type="text/css">
	<div class="center"><h1>Stacks & Queue</h1></div>
	<div class="boxing">
	<h2>
		Introduction
	</h2>
	<p><b>
		Stacks and Queues are two most important Data structures in programming. These data structures and their variations are used to solve a lot of programming problems. You can learn all about Stacks which follow the LIFO (Last In First Out) method and Queues which follow the FIFO (First In First Out) method.
       </b>
	<ul>
     
			<div class="bord"><li><a href="Stacks"><b><span style="color: blue"><font size="6">Basics of Stacks</b></font></span></a></li></div>
			<div class="bord"><li><a href="queues"><b><span style="color: blue"><font size="6">Basics of Queues</b></font></span></a></li></div>
		</ul>
	</p>
</div>
</body>
</html>